@charset "utf-8"

body{
	background-color: #f6f5f5;
	margin: 0px;
	padding: 0px;
}

a{
	text-decoration: none;
}
section{
	width: 100%;
	height: 95vh;
	background-image: url();
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}
.navbar {
    font-size: 18px;
    background-color: #FFFFFF;
   /* background-image: linear-gradient(260deg, #2376ae 0%, #c16ecf   100%);
    border: 1px solid rgba(0, 0, 0, 0.2);
    */padding-bottom: 10px;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
}
.main-nav {
    list-style-type: none;
    display: none;
}
.nav-links,
.logo {
    /*text-decoration: none;
    color: rgba(255, 255, 255, 0.7);*/
    color: #505050;
}
.main-nav li {
    text-align: center;
    margin: 15px auto;
    font-weight: 700;
}
.logo {
    display: inline-block;
    font-size: 22px;
    margin-top: 10px;
    margin-left: 20px;
}
.navbar-toggle {
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer; 
    color: #505050;
    font-size: 24px;
}
.active {
  display: block;
  color: #2d2a2a;
  font-weight: bold;
}
/*
nav{
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 60px;
	background-color: #FFFFFF;
	box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
	padding: 0px 5%;
}
nav ul{
	display: flex;
}
nav ul li{
	margin: 30px;
	font-family: myriad pro regular;
	color: #505050;
	font-size: 18px;
	font-weight: 700;
}
.logo{
	font-family: RoadTest;
	color: #000000;
	font-size: 22px;
}
.active{
	font-weight: bold;
	color: #2d2a2a;
}*/
.text-container{
	position: absolute;
	left: 13%;
	top:42%;
	transform: translate(-13%,-42%);
}
.text-container p{
	line-height: 0px;
	margin: 45px 0px 25px;
}
.text-container p:nth-child(1){
	font-family: calibri;
	font-weight: bold;
	letter-spacing: 1px;
	color: #1a1a1a;
	font-size: 60px;
}
.text-container p:nth-child(2){
	font-family: myriad pro regular;
	color: #403e3e;
	font-size: 20px;
	line-height: 30px;
	width: 550px;
	position: relative;
}

.model{
	height: 560px;
	position: fixed;
	bottom: 40px;
	left: 70%;
	transform: translateX(-70%);
}
.about-container{
	width: 90%;
	height: 175px;
	background-color: #FFFFFF;
	border-radius: 20px;
	box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
	display: flex;
	margin: -7% auto 20px auto;
	position: relative;
	justify-content: space-evenly;
	text-align: center;
	opacity: 65%;
}
.about-container h1{
	font-family:cursive;
	font-size: 45px;
}
.about-container h2{
	font-family: Courier New;
}
.about-container h2 a{
	border-style: ridge;
}
.about-container button{
	width: 155px;
	height: 48px;
	border-radius: 10px;
	font-family: calibri;
	font-weight: bold;
	font-size: 18px;
	outline: none;
	margin: 0px 10px;
}
.down-cv1{
	background-color: #0b0b0b;
	color: #FFFFFF;
	border: none;
	cursor: pointer;
	position: relative;
}
.down-cv2{
	background-color: #0b0b0b;
	color: #FFFFFF;
	border: none;
	cursor: pointer;
	position: relative;
}
button:active{
	transform: scale(1,1);
}


.form-container{
	width: 95%;
	height: 250px;
	background-color: #FFFFFF;
	border-radius: 20px;
	box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
	display: flex;
	margin: -1.5% auto 20px auto;
	align-items: center;
	/*position: relative;
	justify-content: space-evenly;*/
}

footer{
	background-color: black;
	font-size: 20PX;
	color: gray;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
	padding: 0px 5%;
	border-radius: 5px;
	position: relative;
	/*
	align-items: center;
	height: 60px;
	box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
	padding: 0px 5%;*/
}
footer p{
	font-family: calibri;
	text-align: center;
}
.social-container{
	width: 90%;
	height: 250px;
	align-items: center;
	background-color: lightgray;
	border-radius: 20px;
	box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
	margin:  20px auto; 
	/*display: flex;
	margin: -7% auto 20px auto;
	position: relative;*/
}
.social-icons a{
	align-items: center;
	width: 40px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #e6e3e3;
	margin: 20px 10px;
	border-radius: 50%;
}
.social-icons{
	display: flex;
}
.social-icons i{
	color: #000000;
}
.social-icons a:hover{
	background-color: #000000;
	box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
	transition: all ease 0.5s;
}
.social-icons a:hover i{
	color: #FFFFFF;
	transition: all ease 0.5s;
}
.education{
	background-color: gray;
}
.education ul li{
	padding: 10px;
}

@media screen and (min-width: 768px) {
    .navbar {
        display: flex;
        justify-content: space-between;
        padding-bottom: 0;
        height: 70px;
        align-items: center;
    }
    .main-nav {
        display: flex;
        margin-right: 30px;
        flex-direction: row;
        justify-content: flex-end;
    }
    .main-nav li {
        margin: 0;
    }
    .nav-links {
        margin-left: 40px;
    }
    .logo {
        margin-top: 0;
    }
   .navbar-toggle {
       display: none;
    }
    .logo:hover,
    .nav-links:hover {
        color: rgba(255, 255, 255, 1);
    }
}